// * {
//   background-color: rgba(255, 0, 0, 0.2);
// }

// * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }

// * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }

// * * * * {
//   background-color: rgba(255, 0, 255, 0.2);
// }

// * * * * * {
//   background-color: rgba(0, 255, 255, 0.2);
// }

// * * * * * * {
//   background-color: rgba(255, 255, 0, 0.2);
// }

// * * * * * * * {
//   background-color: rgba(255, 0, 0, 0.2);
// }

// * * * * * * * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }

// * * * * * * * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }

.wrapper {
  height: 100%;
  width: 100%;
  background: $light-greyish-blue;
  display: grid;
  place-items: center;
  position: relative;
}

.post__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 810px;
  -webkit-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  -moz-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  position: relative;

  @include bp-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-radius: 10px / 10px;
  }
}

.post__image {
  grid-column: 1 / span 2;
  display: flex;
  background-color: $white;
  width: 400px;

  img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    height: auto;
    object-fit: cover;

    @include bp-small {
      height: 245px;
      border-radius: 10px 10px 0 0;
    }
  }

  @include bp-small {
    width: 100%;
    height: 215px;
    border-radius: 10px 10px 0 0;
  }
}

.post__preview {
  border-radius: 0px 10px 10px 0px;
  grid-column: 3 / -1;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem .75rem 3rem;
  margin-right: 0;

  @include bp-small {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 2rem 1.8rem 1.5rem 2rem;
  }

  .post__title {
    color: $very-dark-grayish-blue;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .75rem;

    @include bp-small {
      font-size: 18px;
      padding-top: .4rem;
    }
  }

  .post__body {
    margin-bottom: 1.5rem;
    color: $desaturated-dark-blue;
    line-height: 1.4rem;
    font-size: 14px;
    font-weight: 500;

    @include bp-small {
      margin-right: .75rem;
      margin-bottom: .5rem;
    }
  }

  .post__timestamp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp-small {
      position: relative;
      top: 1rem;
      padding-bottom: .6rem;
    }

    .author__image {
      display: block;
      clip-path: circle(50% at 50% 50%);
      width: 50px;
      object-fit: cover;
      height: auto;
      margin-right: .75rem;
      position: relative;
      right: .25rem;

      @include bp-small {
        width: 45px;
        margin-right: 0.67rem;
        margin-left: 0.4rem;
      }
    }

    .author__details {
      display: flex;
      align-items: center;

      .author__name {
        color: $very-dark-grayish-blue;
        padding-bottom: .15rem;
        font-size: 14px;
        font-weight: 700;
        padding-top: 0.25rem;

      }

      .author__date {
        font-size: 13px;
        color: $grayish-blue;
      }
    }

    .post__share {
      width: 34px;
      height: 34px;
      clip-path: circle(50% at 50% 50%);
      background-color: $light-greyish-blue;
      transition: background-color 0.6s ease;
      z-index: 99;

      @include bp-small {
        position: relative;
        top: .2rem;
        margin: 0.25rem 0.5rem 0 0;
      }

      img {
        width: 50%;
        color: $desaturated-dark-blue;
        margin: .5rem;
        font-size: 1.2rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $desaturated-dark-blue;

        img {
          filter: brightness(0) invert(1);
        }
      }

      &.active {
        background-color: $desaturated-dark-blue;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.share__tooltip {
  position: absolute;
  bottom: 7.2rem;
  right: -4.35rem;
  background: $very-dark-grayish-blue;
  width: 272px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  -webkit-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.567);
  -moz-box-shadow: 8px 8px 40px 0px rgba(112, 130, 153, 0.567);
  box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.567);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s ease;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.mobile {
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .tooltip__arrow {
      display: none;
    }

    .tooltip__content {
      padding-right: 7.5rem;

      p {
        font-size: .8rem;
      }

      .tooltip__icons {
        padding: 0;
        padding-top: .25rem;

        margin-left: .5rem;

        a {
          padding: 0 0.5rem;

          img {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }

  .tooltip__arrow {
    position: absolute;
    bottom: -.8rem;
    left: 45%;
    width: 30px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: $very-dark-grayish-blue;
  }

  .tooltip__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .25rem 2rem;
    padding: .5rem;

    p {
      margin-left: 1rem;
      color: $grayish-blue;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .35rem;
      flex: 1;
      pointer-events: none;
    }

    .tooltip__icons {
      display: flex;
      flex: 1;
      margin-left: 0.5rem;
      padding-top: .35rem;

      a {
        text-decoration: none;
        padding: 0 .6rem;
        transition: opacity 0.6s ease;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        img {
          width: 22px;
          height: 22px;
        }
      }

      &.hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

}




$white: #ffff;
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-greyish-blue: hsl(210, 46%, 95%);