// * {
//   background-color: rgba(255, 0, 0, 0.2);
// }

// * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }

// * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }

// * * * * {
//   background-color: rgba(255, 0, 255, 0.2);
// }

// * * * * * {
//   background-color: rgba(0, 255, 255, 0.2);
// }

// * * * * * * {
//   background-color: rgba(255, 255, 0, 0.2);
// }

// * * * * * * * {
//   background-color: rgba(255, 0, 0, 0.2);
// }

// * * * * * * * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }

// * * * * * * * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }

.wrapper {
  height: 100%;
  width: 100%;
  background: $light-greyish-blue;
  display: grid;
  place-items: center;
  position: relative;
}

.post__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 820px;
  -webkit-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  -moz-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.2);
  position: relative;

  @include bp-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    border-radius: 10px / 10px;
  }
}

.post__image {
  grid-column: 1 / span 2;
  display: flex;
  background-color: $white;
  width: 400px;

  img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    height: auto;
    object-fit: cover;

    @include bp-small {
      height: 234px;
      border-radius: 10px 10px 0 0;
    }
  }

  @include bp-small {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
}

.post__preview {
  border-radius: 0px 10px 10px 0px;
  grid-column: 3 / -1;
  background-color: $white;
  display: grid;
  padding: 2rem 3rem 1.5rem 3rem;
  width: 100%;

  @include bp-small {
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 2rem 1.8rem;
  }

  .post__title {
    color: $desaturated-dark-blue;
    font-size: 22px;
    font-weight: 700;

    @include bp-small {
      font-size: 16px;
    }
  }

  .post__body {
    color: $grayish-blue;
    line-height: 1.4rem;
    font-size: 14px;
    font-weight: 500;

    @include bp-small {
      padding-top: .5rem;
      margin-right: .75rem;
    }
  }

  .post__timestamp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp-small {
      position: relative;
      padding-top: 0.5rem;
      top: 1.1rem;
    }

    .author__image {
      display: block;
      clip-path: circle(50% at 50% 50%);
      width: 50px;
      object-fit: cover;
      height: auto;
      margin-right: .75rem;
      position: relative;
      right: .25rem;

      @include bp-small {
        width: 45px;
        margin-right: 0.8rem;
      }
    }

    .author__details {
      display: flex;
      align-items: center;

      .author__name {
        color: $desaturated-dark-blue;
        padding-bottom: .15rem;
        font-size: 14px;
        font-weight: 700;
      }

      .author__date {
        font-size: 13px;
        color: $grayish-blue;
      }
    }

    .post__share {
      margin-right: .5rem;
      width: 32px;
      height: 32px;
      clip-path: circle(50% at 50% 50%);
      background-color: $light-greyish-blue;
      transition: background-color 0.6s ease;
      z-index: 99;

      @include bp-small {
        margin: 0.25rem .5rem 0 0;
      }

      img {
        color: $desaturated-dark-blue;
        margin: .52rem;
        font-size: 1.2rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $desaturated-dark-blue;

        img {
          filter: brightness(0) invert(1);
        }
      }

      &.active {
        background-color: $desaturated-dark-blue;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.share__tooltip {
  position: absolute;
  bottom: 7rem;
  right: -4.25rem;
  background: $very-dark-grayish-blue;
  width: 280px;
  border-radius: 12px;
  -webkit-box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.367);
  -moz-box-shadow: 8px 8px 40px 0px rgba(112, 130, 153, 0.367);
  box-shadow: 8px 8px 40px 0px rgba(44%, 51%, 60%, 0.367);
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s ease;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.mobile {
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
    display: flex;

    .tooltip__arrow {
      display: none;
    }

    .tooltip__content {
      padding: 0;

      p {
        font-size: .8rem;
      }

      .tooltip__icons {
        padding: 0;
        padding-top: .25rem;

        margin-left: .5rem;

        a {
          padding: 0 0.5rem;

          img {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }

  .tooltip__arrow {
    position: absolute;
    bottom: -.8rem;
    left: 45%;
    width: 25px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: $very-dark-grayish-blue;
  }

  .tooltip__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .25rem 1.8rem;
    padding: .5rem;

    p {
      color: $grayish-blue;
      text-transform: uppercase;
      font-size: .9rem;
      letter-spacing: .35rem;
      flex: 1;
      pointer-events: none;
    }

    .tooltip__icons {
      display: flex;
      flex: 1;
      margin-left: 1rem;
      padding-top: .25rem;

      a {
        text-decoration: none;
        padding: 0 .6rem;
        transition: opacity 0.6s ease;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        img {
          width: 22px;
          height: 22px;
        }
      }

      &.hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

}




$white: #ffff;
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-greyish-blue: hsl(210, 46%, 95%);